.loading{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 17%;
left: 50%;
transform: translate(-50%, -50%);
color: black;
font-size: 50px;
background-color: rgba(255, 255, 255, 0);
}

.Reset_buton_inicio{
    background-color: #959595;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}